<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <main>
      <form action="" method="post">
        <label for="nombre">Nombre y Apellido:</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Fulano, Fulanito"
        />
        <br />
        <label for="usuario">Nombre de Usuario:</label>
        <input type="text" name="usuario" id="usuario" />
        <br />
        <label for="fecha">Fecha de Nacimiento:</label>
        <input type="date" name="fecha" id="fecha" />
      </form>
    </main>
  </body>
</html>
