* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
}

/*Estilos para el <body>*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/*Estilos para el <header>*/

header {
  background-color: var(--amarillo);
}

.logo {
  margin-top: 0%;
  margin-left: 0%;

  padding: 4px;

  width: 170px;
  height: 70px;
}

.barra {
  width: 150px;
}

.searchBar {
  margin: 0 10px;
}

.header h3 {
  font-size: 14px;
  text-align: center;
}

.navBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  display: flex;
  justify-content: center;
}

i.fas.fa-bars {
  background-color: var(--celeste);
  color: var(--grisClaro);
  font-size: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 20%;
}

.banner {
  background-image: url(../Images/img-home-banner.jpg);
  width: 100%;
  height: 12vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Hoja de estilo para el Main*/

main {
  background-color: var(--grisClaro);
}

.artMain {
  background-color: #fff;
  border-top: 1px solid #ebebeb;
  padding: 5px;
  margin: 15px;
}

.artMain img {
  display: block;
  width: 100%;
  padding: 10%;
  padding-bottom: 1%;
}

.iconoMain {
  display: flex;
  justify-content: flex-end;

  padding: 0 20px;
}

.precios {
  display: inline-block;
  font-size: 20px;
  margin: 0 5px;
}

.descuentos {
  color: var(--verde);
  display: inline-block;
  margin: 0 5px;
}

.tituloArt {
  font-size: 22px;
}

i.fa-solid.fa-truck-fast {
  font-size: 25px;
  color: var(--verde);
}

/*Hoja de estilo para Footer*/
.artFooter {
  margin: 5px;
  padding: 10px;

  text-align: center;
  color: var(--grisOscuro);
}

.iconoFooter {
  display: flex;
  justify-content: center;
}

i.fa-solid.fa-credit-card {
  color: var(--celeste);
  font-size: 40px;
  margin: 10px;
}

i.fa-solid.fa-truck-moving {
  color: var(--celeste);
  font-size: 40px;
  margin: 10px;
}

i.fa-solid.fa-user-shield {
  color: var(--celeste);
  font-size: 40px;
  margin: 10px;
}

/*Tamaño de la fuente para las diferentes secciones*/
.tituloFooter {
  font-size: 20px;
}

.descuentos {
  font-size: 16px;
}

.descripcion {
  font-size: 16px;
}

@media (min-width: 361px) {
  .artMain {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .site {
    display: none;
  }
  .login {
    display: none;
  }
  .tituloArt {
    display: none;
  }

  .navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 769px) {
  .artMain {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .burger-menu {
    display: none;
  }
  .site {
    display: block;
  }
  .login {
    display: block;
  }
  .tituloArt {
    display: block;
  }

  .artMain {
    display: inline-block;
    width: 30%;
  }

  .visita {
    display: flex;
    flex-wrap: nowrap;
  }

  .navBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
